{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": ["\\.(css|scss)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "vueIndentScriptAndStyle": true
}
